<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: html(_content = ~{::content},_title=~{::title})}">
  <th:block th:fragment="content">
    <img th:src="${#theme.assets('/img/16.jpg')}" class="cover-box">
    <div class="mx-auto flex h-screen w-96 flex-col items-center justify-center">
      <ul class="w-full list-inside list-disc">
        <li th:each="post : ${posts.items}">
          <span class="icon-[tabler--box]"></span>
          <a
            th:text="${post.spec.title}"
            th:href="${post.status.permalink}"
            class="hover:text-gray-600 hover:underline"
          ></a>
        </li>
      </ul>
      
    </div>
    
  </th:block>
</html>
