<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: layout(_content = ~{::content},_title=~{::title},_header=~{::header})}">
  <th:block th:fragment="content">
    <!-- <img th:src="${#theme.assets('/img/16.jpg')}" class="cover-box" style="z-index: 1;"> -->
    <div class="" style="z-index: 2; position: relative;width: 100vw;height: 100vh;display: flex; justify-content: center;align-items: center;">
      <ul class="">
        <li th:each="post : ${posts.items}">
          <span class="icon-[tabler--box]"></span>
          <a
            th:text="${post.spec.title}"
            th:href="${post.status.permalink}"
            class="hover:text-gray-600 hover:underline"
          ></a>
        </li>
      </ul>
      
    </div>
    
  </th:block>
</html>
