<!-- 公共布局 -->
<!DOCTYPE html>
<html lang="en" th:fragment="layout (_content,_title,_header)">
  <head>
    <!-- 引入公共头 -->
    <th:block th:replace="~{module/head/index}"/>
    <!-- 标题 -->
     <title>
      <th:block th:if="${_title != null}"> <th:block th:replace="${_title}"></th:block> </th:block><th:block th:unless="${_title!=null}">
        <th:block th:if="${#strings.isEmpty(site.subtitle)}" th:text="${site.title}"></th:block>
        <th:block th:unless="${#strings.isEmpty(site.subtitle)}" th:text="|${site.title}-${site.subtitle}|"></th:block>
      </th:block>
    </title>
    <!-- 默认脚本 -->
    <th:block th:replace="~{module/scripts/noscript}"></th:block>
  </head>
  
  <body>
    <section id="main-container" class="main-container">
      <!--/* 导航栏 */-->
      <header class="site-header" itemscope itemtype="http://schema.org/WPHeader">
        <div class="header-inner" th:insert="~{module/header/index}"></div>
      </header>
      <!-- 页面内容 -->
      <th:block th:replace="${_content}" />
    </section>
    <!-- 页面底的备案信息 -->
    <footer class="site-footer" role="contentinfo">
      <div class="site-info">
        <th:block th:replace="~{module/footer/index}" />
      </div>
    </footer>

  </body>
</html>
