@import "header";
.site-header{
    position: relative;
    right: 0;
    height: var(--header-height);
    width: 100%;
    z-index: 10;

}

.site-header:hover{
    background-color: #dfcdd070;
    transition: background-color 0.5 linear, transform 0.3s ease;
}
.site-footer{
    position: relative;
    width: 100%;
    height: var(--footer-height);
    background-color: #dfcdd070;
}
.site-sidebar{
    width: 15.625rem;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
